<h1 class="text-xl mb-2">Postgres</h1>

<main class="py-4">
  <% if @postgres_services.any? %>
    <ul class="">
      <% @postgres_services.each do |postgres_service| %>
        <li>
          <%= link_to postgres_service.service, dokku_postgre_path(postgres_service.service), class: "link" %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p class="">There are no postgres services.</p>
  <% end %>
</main>

<div class="p-2 bg-gray-50">
  <p class="text-gray-400 text-xs mb-1">New postgres service</p>
  <%= render "form", postgres: @postgres %>
</div>
