<h1 class="text-xl mb-2">Apps</h1>

<main class="py-4">
  <% if @apps.any? %>
    <ul class="">
      <% @apps.each do |app| %>
        <li><%= app.name %></li>
      <% end %>
    </ul>
  <% else %>
    <p class="">You haven't deployed any applications yet.</p>
  <% end %>
</main>

<div class="p-2 bg-gray-50">
  <p class="text-gray-400 text-xs mb-1">New app</p>
  <%= render "form", app: @app %>
</div>
