<div class="command text-white pl-2 font-mono" data-controller="scroll-into-view">
  <p>
    <span class="text-teal-400">
      <%= user %>
    </span>
    <span class="text-gray-400">
      $ <%= command %>
    </span>
  </p>
  <p><%= simple_format result %></p>
</div>
