<p>Linked apps</p>

<%= turbo_frame_tag "new_redis_link" do %>
  <% if redis.links.blank? %>
    <p class="text-gray-500">No links</p>
  <% end %>

  <% redis.links.each do |link| %>
    <p>
      <%= link_to link, dokku_app_path(link), class: "link", target: :_top %>
    </p>
  <% end %>

  <p>
    <%= link_to "Link an app", new_dokku_redis_service_links_path(redis), class: "link" %>
  </p>
<% end %>
